body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    width: auto;
}

.container{
    top: 0px;
    min-height: 100%;
    width:100%;
    padding: 10px;
    
   
}

.mid-section{
    min-height: 250px;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: brown;
}

.media{
    
    min-height: 300px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.education{
    
    min-height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#edu{
    font-size: 20px;
}
.media img{
    display: block;
    height: 300px;
    width: 300px;
    padding-inline: 40px;

}

#hint{
    
    text-align: center;
    min-height: 3%;
    color: brown;
}

.services{
    
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.services div{
    border: solid;
    padding: 4px;
    margin-left: 100px;
    
}



#sentence{
    font-size: 20px;
}

#l{
    margin-left: 80px;
    border-radius: white;
}
#b{
    margin-left: 80px;
}
#s{
    margin-left: 10px;
}
.services a:hover{
    border: solid;
    font-size: 30px;
    color: brown;    
}

#here{
    min-height: 5%;
    width: 100%;
    
}
#marq{
font-size: 20px;
}

#here hr{
    min-height: 5px;
}
