body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.mid-section{
    position: absolute;
    top: 0px;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: brown;
}

.media{
    position: absolute;
    top: 650px;
    height: 300px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.education{
    position: absolute;
    top:300px ;
    height: 350px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#edu{
    font-size: 20px;
}
.media img{
    height: 300px;
    width: 300px;
    padding-inline: 50px;

}

#hint{
    position: absolute;
    top: 1000px;
    text-align: center;
    height: 3%;
    color: brown;
}

.services{
    position: absolute;
    top: 1100px;
    height: 250px;
    width: 100%;
    display: flex;
}

.services div{
    border: solid;
    padding: 4px;
    margin-left: 100px;
    
}

.services div a{
  margin-top: 100px;
  font-size: 25px;
  color: black;
}

#sentence{
    font-size: 20px;
}

#l{
    margin-left: 80px;
    border-radius: white;
}
#b{
    margin-left: 80px;
}
#s{
    margin-left: 10px;
}
.services a:hover{
    border: solid;
    font-size: 30px;
    color: brown;    
}

#here{
    top: 250px;
    height: 5%;
    width: 100%;
    position: absolute;
}
#marq{
font-size: 20px;
}

#here hr{
    height: 5px;
}